<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="ab5ecb0c-2d2c-48c2-bf48-d61ee547bcff" created="3.20.2" activeEnvironment="Default environment" name="Balance-SWSIM-Integration" updated="3.30.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ab5ecb0c-2d2c-48c2-bf48-d61ee547bcfffileName">Balance-SWSIM-Integration</con:setting>
  </con:settings>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>Environment</con:name>
      <con:value>QA006</con:value>
    </con:property>
    <con:property>
      <con:name>Division</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Interface</con:name>
      <con:value>107</con:value>
    </con:property>
    <con:property>
      <con:name>SwsimMCWInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeInterface</con:name>
      <con:value>33</con:value>
    </con:property>
    <con:property>
      <con:name>CRTInterface</con:name>
      <con:value>15</con:value>
    </con:property>
    <con:property>
      <con:name>ManifestInterface</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>StoreInterface</con:name>
      <con:value>17</con:value>
    </con:property>
    <con:property>
      <con:name>AddressServiceInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeReportInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRefundInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRegistrationInterface</con:name>
      <con:value>9</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBatchInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeAuditInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBIInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCRTInterface</con:name>
      <con:value>24</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCSRInterface</con:name>
      <con:value>6</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeKioskInterface</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeStoreInterface</con:name>
      <con:value>23</con:value>
    </con:property>
    <con:property>
      <con:name>AccountServiceInterface</con:name>
      <con:value>14</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExServiceInterface</con:name>
      <con:value>7</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPackageIdentificationInterface</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPrintInterface</con:name>
      <con:value>23</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>apiGeeKey</con:name>
      <con:value>lAGJuMMPRJZXDEFYRIZTHAGy2kGAsbUq</con:value>
    </con:property>
    <con:property>
      <con:name>Username</con:name>
      <con:value>RegressionUser</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>RS1Username</con:name>
      <con:value>RegressionRS1</con:value>
    </con:property>
    <con:property>
      <con:name>RS1Password</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>RS2Username</con:name>
      <con:value>RegressionRS2</con:value>
    </con:property>
    <con:property>
      <con:name>RS2Password</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>DMCUsername</con:name>
      <con:value>RegressionDMC</con:value>
    </con:property>
    <con:property>
      <con:name>DMCPassword</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>IntegrationID</con:name>
      <con:value>C27D7CDC-076E-4D62-98AA-AE45BF9B4B96</con:value>
    </con:property>
    <con:property>
      <con:name>HPIntegrationID</con:name>
      <con:value>38CE3777-4A6F-462E-A3CB-95A4E234D29A</con:value>
    </con:property>
    <con:property>
      <con:name>RS1IntegrationID</con:name>
      <con:value>2D8A1C65-BCFA-476E-A344-6832160F692E</con:value>
    </con:property>
    <con:property>
      <con:name>RS2IntegrationID</con:name>
      <con:value>C27D7CDC-076E-4D62-98AA-AE45BF9B4B96</con:value>
    </con:property>
    <con:property>
      <con:name>IBMIntegrationID</con:name>
      <con:value>9D143AD9-DE42-4A67-8D05-6B714CAf5E04</con:value>
    </con:property>
    <con:property>
      <con:name>ShipStationID</con:name>
      <con:value>88F8BA27-2FBC-4601-A055-E4BAA7BBDBFB</con:value>
    </con:property>
    <con:property>
      <con:name>WebPostageID</con:name>
      <con:value>F870E07C-569C-43C8-AD77-FCE3D33D5CDB</con:value>
    </con:property>
    <con:property>
      <con:name>WinClientID</con:name>
      <con:value>DE66F28D-D57F-49DA-B950-2B6A44086EBF</con:value>
    </con:property>
    <con:property>
      <con:name>ShipworksID</con:name>
      <con:value>F784C8BC-9CAD-4DAF-B320-6F9F86090032</con:value>
    </con:property>
    <con:property>
      <con:name>EDCDefaultIntegrationID</con:name>
      <con:value>6183BA0E-9504-4D05-8C4E-F4F86C0AC0B7</con:value>
    </con:property>
    <con:property>
      <con:name>Convert2SASPromo</con:name>
      <con:value>pluto8936</con:value>
    </con:property>
    <con:property>
      <con:name>Convert2DMCPromo</con:name>
      <con:value>SbeprFNF-QZPPbairefvba</con:value>
    </con:property>
    <con:property>
      <con:name>FaultStringNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2008/02/stamps/fault</con:value>
    </con:property>
    <con:property>
      <con:name>QADBServer</con:name>
      <con:value>qa01db.corp.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>ResultFilePath</con:name>
      <con:value>C:\temp\</con:value>
    </con:property>
    <con:property>
      <con:name>QAAutomateEndpoint</con:name>
      <con:value>http://qa-automate01.sdc01qa98.aws.local/</con:value>
    </con:property>
    <con:property>
      <con:name>QASandBoxEndpoint</con:name>
      <con:value>http://qa-automate02.sdc01qa98.aws.local/</con:value>
    </con:property>
    <con:property>
      <con:name>Priority</con:name>
      <con:value>High</con:value>
    </con:property>
    <con:property>
      <con:name>Regression</con:name>
      <con:value>False</con:value>
    </con:property>
    <con:property>
      <con:name>SlackChannel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SWSIMDBServer</con:name>
      <con:value>vswsimdb-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>SWSIM2DBServer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>BRIDGEDBServer</con:name>
      <con:value>vbridgedb-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>BRIDGE2DBServer</con:name>
      <con:value>vbridgedb-ls21.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>POSTALDBServer</con:name>
      <con:value>vpostaladb-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>POSTBDBServer</con:name>
      <con:value>vpostalbdb-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>POSTAL2DBServer</con:name>
      <con:value>vpostaldb-ls21.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>PAYMENTDBServer</con:name>
      <con:value>vsdc11db-ls02.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>PAYMENTMETHODDBServer</con:name>
      <con:value>vsdc16db-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>PAYMENTGATEWAYDBServer</con:name>
      <con:value>vsdc17db-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>STAMPMARTDBServer</con:name>
      <con:value>vsdc11db-ls02.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>ORDBServer</con:name>
      <con:value>vor13db-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>CSSDBServer</con:name>
      <con:value>vsdc11db-ls02.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>EMAILDBServer</con:name>
      <con:value>vsdc11db-ls02.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>FEDEXDBServer</con:name>
      <con:value>vsdc11db-ls02.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>VPO1DBServer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>BALANCEDBServer</con:name>
      <con:value>vbalancedb-ls01.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>FRAUDDBServer</con:name>
      <con:value>qa006-server-frauddetection-repository.xi3h45.ng.0001.usw1.cache.amazonaws.com</con:value>
    </con:property>
    <con:property>
      <con:name>ServiceEndpoint</con:name>
      <con:value>https://swsim.qa006.stamps.dev/swsim/swsimv107.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>Provider22Endpoint</con:name>
      <con:value>http://provider022.qa006.aws.local/</con:value>
    </con:property>
    <con:property>
      <con:name>Provider23Endpoint</con:name>
      <con:value>http://provider023.qa006.aws.local/</con:value>
    </con:property>
    <con:property>
      <con:name>IBMEndpoint</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SwsimMCWEndpoint</con:name>
      <con:value>https://swsim.qa006.stamps.dev/swsim/MultiCarrierWalletV01.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/bridgev33.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>ManifestServiceEndpoint</con:name>
      <con:value>https://ams.qa006.stamps.dev/Manifest-and-Rating/manifestandratingv5.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>StoreServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/storev33.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>AddressServiceEndpoint</con:name>
      <con:value>https://api.qa099.stamps.dev/address-service/v1</con:value>
    </con:property>
    <con:property>
      <con:name>CRTServiceEndpoint</con:name>
      <con:value>https://crtsvc.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeReportServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/reportv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRefundServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/refundv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRegistrationServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/registrationv9.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeAuditServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/auditv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBatchServiceEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/batchv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBIEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/businessintelligencev1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCRTEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/crtv24.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCSREndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/csrv6.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeKioskEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/kioskv3.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeStoreEndpoint</con:name>
      <con:value>https://bridge.qa006.stamps.dev/bridge/storev23.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>WebhooksEndpoint</con:name>
      <con:value>https://api.stamps.dev</con:value>
    </con:property>
    <con:property>
      <con:name>LabelServiceEndpoint</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SWSIMStoreAPIEndpoint</con:name>
      <con:value>https://swsim.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>BalanceEndpoint</con:name>
      <con:value>https://api.qa006.stampsendicia.com/balance</con:value>
    </con:property>
    <con:property>
      <con:name>AccountServiceEndpoint</con:name>
      <con:value>https://acs.qa006.aws.local/AccountService/AccountServiceV14.svc</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentAuthorizationServiceEndpoint</con:name>
      <con:value>https://acs.qa006.aws.local/PaymentAuthorizationService/controllerv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PaymentCaptureServiceEndpoint</con:name>
      <con:value>https://acs.qa006.aws.local/PaymentCaptureService/controllerv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExServiceEndpoint</con:name>
      <con:value>https://postala.qa006.aws.local/PostalExWebService/PostalExV7.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPackageIdentificationEndpoint</con:name>
      <con:value>https://postala.qa006.aws.local/PostalExWebService/PackageIdentificationV11.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPrintEndpoint</con:name>
      <con:value>https://postala.qa006.aws.local/PostalExWebService/PrintV23.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>AMSEndpoint</con:name>
      <con:value>https://ams.qa006.stamps.dev</con:value>
    </con:property>
    <con:property>
      <con:name>EaganEndpoint</con:name>
      <con:value>https://eagan.qa006.aws.local/Eagan/Service.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>EmailServiceEndpoint</con:name>
      <con:value>https://emailservice.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>FraudDetectionServiceEndpoint</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SeraBaseEndPoint</con:name>
      <con:value>https://swsim.qa006.stamps.dev/swsim</con:value>
    </con:property>
    <con:property>
      <con:name>Auth0TokenEndPoint</con:name>
      <con:value>https://signin.qa006.stampsendicia.com/oauth/token</con:value>
    </con:property>
    <con:property>
      <con:name>PAYEndpoint</con:name>
      <con:value>https://pay.qa006.aws.local/Pay/PaymentProcessor.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>TrackingEventEndpoint</con:name>
      <con:value>https://trackingevent.qa006.aws.local/TrackingEvent</con:value>
    </con:property>
    <con:property>
      <con:name>TrackingGenerationEndpoint</con:name>
      <con:value>https://trackingnumbergen1.qa006.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>Auth0ClientID</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Auth0ClientSecret</con:name>
      <con:value>j_Wb7q5F9SDOuA3mp1mGfZTTjScwDboV3Ypq274KwlIlhXJKZuF0EcaAf2Tlt8HL</con:value>
    </con:property>
    <con:property>
      <con:name>Namespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/22/swsim/SwsimV107</con:value>
    </con:property>
    <con:property>
      <con:name>SwsimMCWNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2018/06/SWSIM/MultiCarrierWalletV01</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2019/08/bridge/bridgev33</con:value>
    </con:property>
    <con:property>
      <con:name>CRTNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/06/bridge/crtv15</con:value>
    </con:property>
    <con:property>
      <con:name>ManifestNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/07/manifestandrating/ManifestAndRatingV5</con:value>
    </con:property>
    <con:property>
      <con:name>StoreNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/06/bridge/storev17</con:value>
    </con:property>
    <con:property>
      <con:name>AddressServiceNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2012/08/addressservicev1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeReportNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2007/08/bridge/reportv1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRefundNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2014/06/bridge/refundv1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRegistrationNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/03/bridge/registrationv9</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeAuditNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2009/07/bridge/auditv1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBatchNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2009/06/bridge/batch1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBINamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2014/06/bridge/businessintelligencev1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCSRNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2018/10/bridge/csrv6</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCTRNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2017/04/bridge/crtv24</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeKioskNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2009/03/bridge/kioskv3</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeStoreNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2018/10/bridge/storev23</con:value>
    </con:property>
    <con:property>
      <con:name>AccountServiceNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/03/accountservice/accountservicev14</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExServiceNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2019/06/server/postalex/postalexv7</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPackageIdentificationNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/04/postalex/packageidentificationv11</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPrintNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/07/server/postalex/PrintV23</con:value>
    </con:property>
    <con:property>
      <con:name>PAYNamespace</con:name>
      <con:value>http://stamps.com/PaymentProcessor</con:value>
    </con:property>
    <con:property>
      <con:name>AddOnVersionText</con:name>
      <con:value>AddOnV17</con:value>
    </con:property>
    <con:property>
      <con:name>NetStampsVersionText</con:name>
      <con:value>NetStampV35</con:value>
    </con:property>
    <con:property>
      <con:name>MailingLabelVersionText</con:name>
      <con:value>IndiciumInfoV32</con:value>
    </con:property>
    <con:property>
      <con:name>ShipmentFieldVersionText</con:name>
      <con:value>ShipmentFieldV2</con:value>
    </con:property>
    <con:property>
      <con:name>SurchargeVersionText</con:name>
      <con:value>SurchargeV3</con:value>
    </con:property>
    <con:property>
      <con:name>IntegratorTxID</con:name>
      <con:value>${=java.util.UUID.randomUUID()}</con:value>
    </con:property>
    <con:property>
      <con:name>ShipDate</con:name>
      <con:value>${=java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ISO_LOCAL_DATE)}</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeShipDate</con:name>
      <con:value>${=java.time.LocalDateTime.now().withNano(0)}</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailProjectName</con:name>
      <con:value>z_QA Server Sandbox</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUpdateResultBatchSize</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>RunId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>IsInvokedFromWhitneyJenkins</con:name>
      <con:value>false</con:value>
    </con:property>
  </con:properties>
  <con:afterLoadScript>new soapUIProperties.setProperties(project)</con:afterLoadScript>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to ReadyAPI functional tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new java.io.FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new java.io.PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
